* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

spline-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.login-container {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    width: 320px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
    color: #000000;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    color: #000000;
    font-size: 16px;
    outline: none;
}

input::placeholder {
    color: rgb(55, 55, 55);
}

button {
    width: 100%;
    padding: 12px;
    background: rgba(0, 122, 255, 0.7); /* Adjusted to match new model */
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: rgba(0, 122, 255, 0.9);
}
.login-link {
    margin-top: 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.login-link a {
    color:rgba(0, 122, 255, 0.9);
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}